/*************************
** FONT APIS

font-family: 'Aref Ruqaa', serif;
font-family: 'Vesper Libre', serif;
**************************/

/*************************
** BASE SETUP
**************************/

*, *:before, *:after {
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}






/*************************
** BASE ELEMENT STYLES
**************************/

body {
  background-color: #0d0d0d;
}

a {
  color:inherit;
  text-decoration: none;
}

a:hover {
  color:inherit;
  text-decoration: none;
}



/*************************
** BASE CLASS STYLES
**************************/



.nav-static {
  margin: auto;
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.top-logo {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(./../images/logotransparent.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 500px;
  height: 235px;
  margin-bottom: 5px;
}

.nav-links {
  font-family: 'Aref Ruqaa', serif;
  color: #800000;
  font-size: 22px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 5px;
  text-align: center;
}

.poem-title {
  padding-top: 40px;
  font-family: 'Aref Ruqaa', serif;
  color: #800000;
  font-size: 35px;
  text-align: center;
  color:
}

.poem {
  padding: 10px 5px 0px 5px;
  font-family: 'Vesper Libre', serif;
  color: #800000;
  font-size: 20px;
  text-align: center;
}

.regular-title {
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: 'Aref Ruqaa', serif;
  color: #E1E1E1;
  font-size: 35px;
  text-align: center;
}

.regular-text {
  font-family: 'Vesper Libre', serif;
  color: #E1E1E1;
  font-size: 17px;
  margin: 2.5% 10% 0% 10%;
  text-align: justify;
}

.text-left,
.text-right {
  font-family: 'Vesper Libre', serif;
  color: #E1E1E1;
  font-size: 20px;
  text-align: justify;
}

.text-left p {
  float: left;
  padding: 2.5%;
  margin: 0px;
}

.text-left img {
  float: right;
  padding: 2.5%;
}

.text-right p {
  float: right;
  padding: 2.5%;
  margin: 0px;
}

.text-right img {
  float: left;
  padding: 2.5%;
  margin: 0px;
}

.lore-title {
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: 'Vesper Libre', serif;
  color: #E1E1E1;
  font-size: 30px;
  text-align: center;
  padding: 0% 12% 0% 12%
}

.lore-text {
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: 'Vesper Libre', serif;
  color: #E1E1E1;
  font-size: 25px;
  text-align: justify;
  padding: 0% 12% 0% 12%
}

.faction-title {
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: 'Aref Ruqaa', serif;
  color: #E1E1E1;
  font-size: 35px;
  text-align: center;
}

.faction-subtitle {
  font-family: 'Vesper Libre', serif;
  color: #E1E1E1;
  font-size: 25px;
  padding: 0% 8% 0% 8%;
}

.faction-text {
  font-family: 'Vesper Libre', serif;
  color: #E1E1E1;
  font-size: 17px;
  padding: 2% 10% 0% 10%;
  text-align: justify;
}

.faction-image {
  margin-top: 3%;
  padding: 2% 10% 2% 10%;
  /*border: 1px solid white;*/
}

.faction-image-special {
  margin-top: 10%;
  padding: 2% 10% 2% 10%;
  /*border: 1px solid white;*/
}

.downloads-title,
.contact-title {
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: 'Vesper Libre', serif;
  color: #E1E1E1;
  font-size: 35px;
  text-align: center;
}

.downloads-text,
.contact-text {
  font-family: 'Vesper Libre', serif;
  color: #E1E1E1;
  font-size: 20px;
  padding-left: 20%;
}

.faq-title {
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: 'Aref Ruqaa', serif;
  color: #E1E1E1;
  font-size: 30px;
  text-align: center;
  padding: 0% 12% 0% 12%
}

.question {
  font-family: 'Aref Ruqaa', serif;
  color: #E1E1E1;
  font-size: 25px;
  padding: 0% 20% 0% 20%;
}

.question:before {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.answer {
  font-family: 'Vesper Libre', serif;
  color: #E1E1E1;
  font-size: 20px;
  display: none;
  padding: 0% 20% 0% 20%;
}

.question.is-active:before {
}

.foot-static {
  font-family: 'Aref Ruqaa', serif;
  color: #800000;
  font-size: 15px;
  text-align: center;
  margin: 30px 0px 10px 0px;
  clear: both;
}







/*************************
** BASE ID STYLES
**************************/
